{{> menu id="about"}}

<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <section class="ui top aligned segment">
      <h3>
        Weathertop 2 release 1
      </h3>
      <p>
        Enter weather data readings, add stations and readings.
      </p>
    </section>
  </div>
  <div class="column">
    <img class="centered large ui image" src="/images/weathericons.png">
  </div>
</div>